<div clas="well">
<h3>Answers:</h3>
<li class="list-group-item">
<p>Submitted by :<br><h4><strong>{{answer.author}}</strong></h4></p>
<p><img class="img-thumbnal" src={{answer.image}}></p>
<div class="text"><p>Answer content: {{answer.text}}</p></div>
</li>
</div>
