<br>
<div class="well">
<h3>Submitted by: {{board.author}}</h3>
<h3>Question content: </h3> {{board.content}}
</div>
<button  class="btn btn-primary btn-lg" {{action 'delete' board}}>Delete Your Question</button>


<ul>
  {{#each board.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
