<div id="contact">

<h3>Our representatives would love to help you if you have any questions about our website</h3>
<br>
<h3>anna@message_board.com</h3>
<br>
  <img src="http://www.susannemadsen.co.uk/uploads/6/3/2/3/6323088/1966564_orig.png">
</div>
