<div class="well">
<h3> Welcome to Software Development Question and Answer site! </h3>
<br>
<p>SDQA is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>
<h4>Please, add your questions here:</h4>
</div>

<ul>
  {{#each model as |board|}}
    {{board-tile board=board update="update" destroyBoard="destroyBoard"}}
  {{/each}}
</ul>

{{new-board saveBoard2="saveBoard3"}}
